*{margin: 0; padding: 0}

body{font-family: Arial;}

h2{
	font-size: 150%;
	text-align: center;
	background-color: tomato;
	color: white;
	padding: 10px;
}

h3{
	font-size: 120%;
	background-color: black;
	color: white;
	padding: 10px;
}

h4{
	font-size: 110%;
	padding: 10px;
}

p{
	line-height: 18px;
	font-style: italic;
	padding: 10px;
}

header{
 margin-bottom: 20px;
}

header select{
	margin-top: 20px;	
}

#wrapper{
	width: 960px;
	margin: 0 auto;
}

main .ficha{
	width: 700px;
	margin: 0 auto;
	border: 2px solid tomato;
	margin-bottom: 20px;
}

footer{
	background-color: black;
	color: white;
	padding: 10px;
}








